<head>
    <style>
        nav {
            padding: 12px;
            background-color: rgb(19, 19, 96);
        }
        nav ul {
            justify-content: end;
            gap: 12px;
            list-style: none;
            display: flex;
            
        }
        
        nav ul li {
            cursor: pointer;
            color: bisque;
        }  
        </style>
</head>

<nav>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
        <li>Social</li>
    </ul>
</nav>
